private
/src/emacs.d/.cache/
/src/emacs.d/.org-id-locations
/src/emacs.d/.lsp-session-v1
/src/emacs.d/ac-comphist.dat
/src/emacs.d/custom-gui.el
/src/emacs.d/custom-terminal.el
/src/emacs.d/eln-cache/
/src/emacs.d/elpa/
/src/emacs.d/eshell/
/src/emacs.d/games/
/src/emacs.d/history
/src/emacs.d/ido.last
/src/emacs.d/org-roam.db
/src/emacs.d/projectile.cache
/src/emacs.d/projectile-bookmarks.eld
/src/emacs.d/recentf
/src/emacs.d/srecode-map.el
/src/emacs.d/tramp
/src/emacs.d/transient/
/src/emacs.d/network-security.data
/src/emacs.d/projects
/src/emacs.d/xenops/
/examples/
